/*SECCION ASIDE*/

.contenedor aside h3 {
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    margin-bottom: 30px;
  }
  
  .contenedor aside p {
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    background-color: white;
    border: solid black 1px;
  }
  
