/*SECCION CURSOS*/

.cursos h3{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  .cursos__meditacion{
    display: flex;
    flex-flow: column wrap;
    margin-top: 40px;
  
    border: solid black 1px;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  
  .cursos__tarot{
    display: flex;
    flex-flow: column wrap;
    margin-top: 40px;
  
    border: solid black 1px;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  
  .cursos__astral{
    display: flex;
    flex-flow: column wrap;
    margin-top: 40px;
  
    border: solid black 1px;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  
  .cursos__meditacion h4{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  
  .cursos__tarot h4{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  
  .cursos__astral h4{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  
  
  .cursos__meditacion--img{
    height: 250px;
  }
  
  .cursos__tarot--img{
    height: 250px;
  }
  
  .cursos__astral--img{
    height: 250px;
  }

  @media (max-width: 768px) {
    .contenedor .cursos{
        height: 1300px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .cursos h3{
        font-size: 60px;
    }
    
    .cursos__meditacion--img{
        width: 100%;
        height: 250px;
    }
    
    .cursos__tarot--img{
      width: 100%;
      height: 250px;
    }
    
    .cursos__astral--img{
      width: 100%;
      height: 250px;
    }
  }

  