/*SECCION MERCHANDISING*/
$color1: #ffbcf6;
$color2: #a3ebff;

.merchan h3{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
  }
  .merchan__productos h4{
    display: flex;
    font-size: 25px;
    justify-content: center;
  }
  
  .merchan__productos p{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .merchan__productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
  
    width: 100%;
    height: 1000px;
  }
  
  .productos div{
    border-bottom: solid black 1px;
  }
  

  .merchan__productos--img{
    padding: 15px;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: $color1;
    
  }

  .merchan__productos--img:hover{
    transform: scale(1.1, 1.1);
    transition: 1.4s;
  }

  .prod-blue{
    background-color: $color2;
  }


  @media (max-width: 768px){
    .contenedor .merchan{
        background-repeat: no-repeat;
        height: 2200px;
      }
      .merchan h3{
        font-size: 40px;
      }
      
      .productos{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin-left: 20px;
        padding: 100px;
        width: 100%;
        height: 500px;
      }
      
      .productos img{
        width: 100%;
        height: 100px;
      }
}